@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::-webkit-scrollbar{
  display: none;
}


body{
  font-family: 'Poppins', sans-serif;

  
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav-link{
  font-size: 19px;
  color: blue;
 
}

#home,#about,#skills,#projects,#contact{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:768px) {
  #home,#about,#skills,#projects,#contact{
    min-height: 70vh;
  }
}
.fa-brands{
  color: rgb(53, 47, 47);
}



@media (max-width:1000px) {
  
  #home{
    text-align: center;
  }
  .buttons{
    margin: auto;
  }
 

}

@media (min-width:900px) {
  header{
    width: 100%;
    position: fixed;
    top: 0;
  }
  footer{
    position: fixed;
    bottom: 0;
  }
}